/node_modules
/vendor
.env
.phpunit.result.cache
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/.vscode
/.git
/Postman_Collection.json
/test_register.json
/check_db.php
/check_product_stock.php
/reset_data.php
/phpunit.xml
.editorconfig
.gitattributes
Dockerfile
.dockerignore
